/* FONTS */
@font-face {
    font-family: 'Montserrat';
    src: url("https://hebertcordero.s3.amazonaws.com/ximena-cancino/fonts/Montserrat-Light.otf");
}
@font-face {
    font-family: 'MinionPro';
    src: url("https://hebertcordero.s3.amazonaws.com/ximena-cancino/fonts/MinionPro-Regular.otf");
}


:root {
/* Fonts */
--primary-font: 'Montserrat', 'Open Sans', sans-serif;
--secondary-font: 'MinionPro', 'Open Sans', sans-serif;
/* Theme */
--EerieBlack: #151515;
--Secondary: #c3cfc1;
--Primary: #9fa5bb;
--PrimaryDark: #4f5464;
--PrimaryLight: #e6e9e5;
--SecondaryDark: #566254;
--CelestialWhite: #f5f5f5;
--swiper-theme-color: var(--PrimaryDark);
/* FontSizes */
--headline1-font-size: 96px;
--headline2-font-size: 60px;
--headline3-font-size: 48px;
--headline4-font-size: 34px;
--headline5-font-size: 24px;
--headline6-font-size: 20px;
--subtitle1-font-size: 16px;
--subtitle2-font-size: 14px;
--body1-font-size: 16px;
--body2-font-size: 14px;
--button-font-size: 14px;
--caption-font-size: 12px;
--overline-font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
}
.cx-img {
    width: 100%;
    max-width: 900px;
    margin: auto;
    height: auto;
    display: block;
}
html {
    scroll-behavior: smooth;
}

/* HEADERR */
header {
    padding: 10px;
    height: auto;
    width: 100%;
    background: var(--Secondary);
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
}
header > a > span,
header > a > div {
    width: fit-content;
    cursor: pointer;
    padding: 15px;
    color: var(--SecondaryDark);
    font-size: var(--subtitle1-font-size);
}
.xc-logo {
    width: fit-content;
    cursor: pointer;
    padding: 15px;
    color: var(--SecondaryDark);
    font-size: var(--headline5-font-size);
}

/* Content */
main {
    overflow: hidden;
    background-color: var(--PrimaryLight);
}
.xc-banner {
    width: 100%;
    height: 400px;
    position: relative;
    background: url(https://hebertcordero.s3.amazonaws.com/ximena-cancino/banner.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    margin-bottom: 40px;
}
.xc-banner:after {
    cursor: pointer;
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0) 0%,
            var(--EerieBlack) 100%,
            rgba(0, 0, 0, 1) 100%);
    height: 100%;
    width: 100%;
}
.xc-banner-info {
    width: 100%;
    height: 100%;
    position: absolute;
}
.xc-banner-info > h2 {
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: 1;
    letter-spacing: 1px;
    line-height: 37px;
    color: var(--CelestialWhite);
    font-size: var(--headline4-font-size);
}
.xc-banner-info > p {
    letter-spacing: 1px;
    width: 140px;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    text-align: right;
    z-index: 1;
    position: absolute;
    color: var(--CelestialWhite);
    font-size: var(--subtitle2-font-size);
}
/* Sections */
.xc-section .xc-title {
    width: 100%;
}
.xc-section .xc-title {
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}
.xc-title::before {
    border-top: 1px solid var(--SecondaryDark);
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}
.xc-title-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
}
.xc-title div span {
    color: var(--SecondaryDark);
    background: var(--PrimaryLight);
    padding: 5px 8px;
    border: 1px solid var(--SecondaryDark);
    left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: default;
    font-size: var(--subtitle1-font-size);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* Projects */
.xc-projects {
    padding: 10px 0 0px 0;
}
.swiper.myProjects {
    padding: 0 0 40px 20px;
    height: auto;
    position: relative;
}
.xc-project__slide {
    border: 1px solid var(--PrimaryDark);
    cursor: pointer;
}
.xc-project__info {
    padding: 15px;
    background: var(--Primary);
}
.xc-project__info > h2 {
    font-size: var(--subtitle1-font-size);
    font-weight: 600;
    margin-bottom: 8px;
}
.xc-project__info > h3 {
    font-size: var(--subtitle2-font-size);
    font-weight: 300;
    margin-bottom: -3px;
}
.xc-project__info > span {
    font-size: var(--caption-font-size);
    font-weight: 300;
}
.xc-project__info > p {
    height: auto;
    font-size: var(--body2-font-size);
    font-weight: 300;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.xc-about__wrapper {
    display: grid;
    grid-template-rows: auto auto;
}

/* About */
.xc-about {
    padding: 10px 20px 50px 20px;
}
.xc-about__img {
    width: fit-content;
}
.xc-about__img > picture > .cx-img {
    border: 1px solid var(--Primary);
}
.xc-about__info > h2 {
    margin-top: 10px;
    font-size: var(--headline6-font-size);
}
.xc-about__info > h3 {
    margin-bottom: 10px;
    font-size: var(--subtitle2-font-size);
}
.xc-about__info {
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: var(--SecondaryDark);
    color: var(--CelestialWhite);
}
.xc-fooerText {
    padding: 30px 20px 20px 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.xc-socialMedia {
    padding: 20px 20px 40px 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}
.xc-socialMedia > a:hover{
    background: var(--Primary);
}

/* Proyect: Brief */
.xc-brief {
    padding: 0px 20px 0px 20px;
}
.xc-brief > h3 {
    margin: 5px 0;
    color: var(--SecondaryDark);
    font-size: var(--headline6-font-size);
}
.xc-brief--about {
    color: var(--SecondaryDark);
    font-size: var(--caption-font-size);
    font-weight: 300;
}
.xc-brief--desc {
    line-height: calc(var(--body2-font-size) + 3px);
    color: var(--SecondaryDark);
    font-size: var(--body2-font-size);
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 5px;
}
.xc-projects-wrapper {
    padding: 0px 20px 50px 20px;
}
/* Project type */
.xc-project-wrapper.multiple {
    margin: 30px 0;
}

/* Project: Swiper */
.swiper.myProject {
    position: relative;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-color: var(--SecondaryDark);
    cursor: pointer !important;
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: -10px !important;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: -10px !important;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 15px;
    color: var(--CelestialWhite);
}
.swiper-button-next:after {
    margin-left: 2px;
}
.swiper-button-prev:after {
    margin-right: 2px;
}

@media screen and (min-width: 350px) {
    .xc-banner-info > p {
        width: auto;
    }
    .xc-banner-info > h2 {
        width: 300px;
    }
    .xc-about__info > h2 {
        margin-top: 0;
    }
}

@media screen and (min-width: 600px) {
    .xc-about__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 15px;
    }
    .xc-socialMedia { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 15px;
    }
    .xc-socialMedia > a { 
        display: flex;
        width: 155px;
        height: 50px;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
    }
    .xc-about__info {
        margin-top: 0px;
    }
}
@media screen and (min-width: 600px) { 
    .swiper-button-next {
        display: none;
    }
    .swiper-button-prev {
        display: none;
    }
}
@media screen and (min-width: 900px) { 
    .xc-section.proyect {
        max-width: 900px;
        margin: auto;
        margin-top: 60px;
    }
    .xc-brief--desc {
        max-width: 800px;
    }
    .swiper-button-next {
        display: flex;
    }
    .swiper-button-prev {
        display: flex;
    }
    .xc-projects-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
        margin: auto;
        row-gap: 15px;
    }
    .xc-project-wrapper.cover {
        width: 100%;
        grid-column: 1/3;
    }
    .xc-project-wrapper.multiple {
        width: 400px;
        margin: auto;
    }
    .xc-project-wrapper > .myProject  {
        overflow: hidden;
    }
    .swiper.myProject > .swiper-wrapper > .swiper-slide {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 10px !important;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 10px !important;
    }
    .swiper-button-next.alt, .swiper-container-rtl .swiper-button-prev.alt,
    .swiper-button-prev.alt, .swiper-container-rtl .swiper-button-next.alt {
        background-color: var(--CelestialWhite);
    }
    .swiper-button-next.alt:after, .swiper-button-prev.alt:after {
        color: var(--SecondaryDark);
    }
}