/* FONTS */
@font-face {
    font-family: 'Montserrat';
    font-weight: 1 1000;
    src: url("https://hebertcordero.s3.amazonaws.com/fonts/montserrat/Montserrat-Regular.ttf");
}

:root {
/* Fonts */
--primary-font: 'Montserrat', 'Open Sans', sans-serif;
--secondary-font: 'Montserrat', 'Open Sans', sans-serif;
/* Theme */
--EerieBlack: #151515;
--Asparagus: #c3cfc1;
--AirSuperior: #9fa5bb;
--CelestialWhite: #f5f5f5;
/* FontSizes */
--headline1-font-size: 96px;
--headline2-font-size: 60px;
--headline3-font-size: 48px;
--headline4-font-size: 34px;
--headline5-font-size: 24px;
--headline6-font-size: 20px;
--subtitle1-font-size: 16px;
--subtitle2-font-size: 14px;
--body1-font-size: 16px;
--body2-font-size: 14px;
--button-font-size: 14px;
--caption-font-size: 12px;
--overline-font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}
a:link {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
}
.cx-img {
    width: 100%;
    height: auto;
    display: block;
}


/* HEADER */
header {
    padding: 10px;
    height: auto;
    width: 100%;
    background: var(--EerieBlack);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}
.xc-logo {
    width: fit-content;
    cursor: pointer;
    padding: 15px;
    color: var(--SweetBrown);
    font-size: var(--headline5-font-size);
}

/* content */
main {
    overflow: hidden;
    background-color: var(--CelestialWhite);
}
.xc-banner {
    width: 100%;
    height: 400px;
    position: relative;
    background: url(https://live.staticflickr.com/8304/29021251186_8f3d5c648f_h.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.xc-banner:after {
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0) 0%,
            var(--EerieBlack) 100%,
            rgba(0, 0, 0, 1) 100%);
    height: 100%;
    width: 100%;
}
/* Sections */
.xc-section .xc-title {
    width: 100%;
}
.xc-section .xc-title {
    position: relative;
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px;
}
.xc-title::before {
    border-top: 1px solid var(--EerieBlack);
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}
.xc-title-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
}
.xc-title div span {
    background: var(--CelestialWhite);
    padding: 5px 8px;
    border: 1px solid var(--EerieBlack);
    left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: default;
    font-size: var(--subtitle1-font-size);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* Projects */
.xc-projects {
    padding: 15px 0;
}
.swiper.myProjects {
    padding: 0 0 40px 20px;
    height: auto;
    position: relative;
}
.xc-project__slide {
    border: 1px solid var(--EerieBlack);
}
.xc-project__info {
    padding: 15px;
}
.xc-project__info > h3 {
    font-size: var(--headline6-font-size);
    font-weight: 600;
    margin-bottom: 10px;
}