/* FONTS */
@font-face {
    font-family: 'Montserrat';
    font-weight: 1 1000;
    src: url("https://hebertcordero.s3.amazonaws.com/fonts/montserrat/Montserrat-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

header {
    height: 50px;
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}

.xc-cover {
    width: 100%;
    height: 400px;
    position: relative;
    background: url(https://live.staticflickr.com/8304/29021251186_8f3d5c648f_h.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cx-img:after {
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 1) 100%,
            rgba(0, 0, 0, 1) 100%);
    height: 100%;
    width: 100%;
}